.body{
font-family: 'Roboto', sans-serif;
color: #434455;
background-color:#FFFFFF;
}

:root{
    --brand-color:#434455;
}

.list{
    list-style: none;
    padding-left: 0;
    margin: 0;
} 

.link{
    text-decoration: none;
}

.logo{
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-nav{
    color:#2e2f42;
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.02em;
text-transform: uppercase;

}

.menu-link{
    color:#2e2f42;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
}

.menu-link:hover{
    color:#404bbf;  
}

.menu-link:focus{
    color:#404bbf;
}

.adress{
    color:#434455;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
font-style: normal;
}

.adress:focus,
.adress:hover {
    color:#404bbf
}


.contact-menu{
    color:#434455;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1,5;
letter-spacing: 0.02em;
}

.contact-menu:focus,
.contact-menu:hover {
    color:#404bbf;  
}

.hero{
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-title{
    color: #FFF;
text-align: center;
font-family:'Roboto', sans-serif;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 0.02em;
max-width: 496px;
margin: 0 auto;
padding-bottom: 40px;
}

.modal-btn{
color: #ffffff ;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
background-color: #4D5AE5;
display: block;
min-width: 169px;
height: 56px;
border: none; 
border-radius: 4px;
margin: 0 auto;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color:#404BBF;
}

.name-title{
    color: #2E2F42;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
margin-bottom: 8px; 
margin-top: 0;
}

.inform-text{
    color: #434455;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
margin: 0;
}

.name-inform{
    color: #2E2F42;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.03em;
text-transform: capitalize;
margin-bottom: 72px;
}

.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our-team{
    color: #2E2F42;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.name-work-team{
    color: #2E2F42;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;
}

.working-team{
    display: block;
    max-width: 100%;
}

.work-list-team{
    background-color: #FFFFFF;
    width:calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.profession-team{
    color: #434455;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}

.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo-nav-footer{
    color: #F4F4FD;
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.04em;
text-transform: uppercase;
}

.business-item{
    color: #F4F4FD;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.h1, .h2, .h3, .h4, .p {
margin-top: 0;
margin-bottom: 0;
}

.ul,.ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

.page-header{
border-bottom: 1px solid #e7e9fc;
display: flex;
}

.div{
display: flex;   
}

.container{
width: 1158px;
margin: 0 auto;
padding: 0 15px;
}

.page-nav{
 display: flex;
 align-items: center; 
 padding-left: 156px;  
} 

.menu{
    display: flex;
    gap: 40px;
}

.list-adress{
    display: flex;
    gap: 40px;
}

.adress-item{
    margin-right: 40px;
    margin-right: 0;
}

.about-title{
    padding: 120px 0;
    display: flex;
    margin: 0 auto;
}

.inform{
    display: flex;
    gap:24px;
}

.list-inform{
width: calc((100% - 72px) / 4);

}

.work-inform{
    
    padding-bottom: 120px;
    width: calc((100% - 72px) / 4);
}

.img-work{
    display: flex;
    max-width: 100%;
    gap: 24px;
}

.img-inform{
    display: block;
    max-width: 100%;
}

.img-list{
    width: calc((100% - 48px) / 3);
}

.team-list{
    display: flex;
    gap: 24px;
}
.personal{
    padding: 32px 0;
}

 .logo-nav-footer{
    display: inline-block;
    margin-bottom: 16px; 
}
.working-team{
    display: block;
}
.img {
    display: block;
    max-width: 100%;
}

.link .logo{
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 76px;
}

.name-profesional-div{
    padding: 32px 0;
    width: calc((100% - 72px) / 4);
    margin: 0 auto;
    display: inline;
}



  .footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}
  
