
.body{ 
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color:#FFFFFF;
}
    
:root{
    --brand-color:#434455;
}
    
    .list{
        list-style: none;
    }
    .link{
        text-decoration: none;
    }
    
    .logo{
        color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    
    .logo-nav{
        color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
    
    .menu-link{
        color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    
    .menu-link:hover{
        color: #404bbf;  
    }
    
    .menu-link:focus{
        color: #404bbf;
    }
    
    .adress{
        color:#434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    font-style: normal;
    }
    
    .adress-menu{
        color:#434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    }
    
    .adress-menu:focus,
    .adress-menu:hover {
        color:#404bbf;
    }
    
    
    
    .btn-modal{
        color:#4d5ae5;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; 
        letter-spacing: 0.04em;
        background-color:#F4F4FD;
    }

    .btn-modal:hover,
    .btn-modal:focus {
        color:#FFFFFF;
        background-color:#404BBF;
    }

    .btn-modal{
    cursor: pointer;
    }

    .title-name{
        color:#2E2F42;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
    }

    .text{
        color:#434455;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
    }

    .footer{
        background-color:#2e2f42;
    }
    
    .logo-nav-footer{
        color:#F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
    
    .business-item{
        color:#F4F4FD;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    }