
.body{ 
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color:#FFFFFF;
}
    
:root{
    --brand-color:#434455;
}
    
.list{
        list-style: none;
        padding-left: 0;
    margin: 0;
} 

.link{
        text-decoration: none;
}
    
.logo{
        color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px
 }
    
.logo-nav{
        color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
    
.menu-link{
        color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
    
.menu-link:hover{
        color: #404bbf;  
}
    
.menu-link:focus{
        color: #404bbf;
 }
    
.adress{
        color:#434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    font-style: normal;
}
    
.adress-menu{
        color:#434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
    
.adress-menu:focus,
.adress-menu:hover {
        color:#404bbf;
}
    
    
    
.btn-modal{
        color:#4d5ae5;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; 
        letter-spacing: 0.04em;
        background-color:#F4F4FD;
        padding: 12px 24px;
        border-radius: 4px;
        border: 1px solid #e7e9fc
}

.btn-modal:hover,
.btn-modal:focus {
        color:#FFFFFF;
        background-color:#404BBF;
        border: 1px solid transparent;
}

.btn-modal{
    cursor: pointer;
}

.list-work{
    display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        padding-left: 0;
        margin: 0 auto;
}

.title-name{
    margin-top: 0;
color:#2E2F42;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.text{
    margin: 0;
        color:#434455;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer{
        background-color:#2e2f42;
        padding: 100px 0;
        padding-left: 156px;
}
    
.logo-nav-footer{
        color:#F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
    
.business-item{
        color:#F4F4FD;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.h1, .h2, .h3, .h4, .p {
margin-top: 0;
margin-bottom: 0;
}
    
.ul,.ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

.page-header{
border-bottom: 1px solid #e7e9fc;
display: flex;
padding: 21px;
}

.div{
    display: flex;
}

.container{
width: 1158px;
margin: 0 auto;
padding: 0 15px;
}

.page-nav{
display: flex;
align-items: center;
padding-left: 156px;
}

.menu{
    display: flex;
    gap: 40px;
    padding-left: 76px;
}

.list-adress{
    display: flex;
    gap: 40px;
}

.section-modal{
    padding: 96px 0 120px 0;
}

.btn-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.list-work{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.list-information{
    width: calc((100% - 48px) / 3);
}

.div-name-category{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    padding-left: 156px;
    display: flex;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

 
.h-p{
    padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
  
.footer-logo{
    display: inline-block;
    margin-bottom: 16px;

}
    